.header {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 15;
  padding: 35px 0;
  width: 100%;
  min-height: 135px;
  box-shadow: 0 10px 50px 10px rgba(0, 0, 0, 25%);
  background: $dark-color;

  &__menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__right {
    display: flex;
    align-items: center;
  }

  &__logo {
    img {
      display: flex;
    }
  }

  &__nav {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    text-transform: uppercase;
    color: #fff;

    ul {
      display: flex;
      align-items: center;
    }

    li {
      @include mr(50px);

      transition: $transition;

      &.is-active {
        color: $accent-color;
      }

      @include hover {
        color: $accent-color;
      }
    }
  }

  &__phone {
    display: inline-block;
    margin-right: 10px;
    padding-left: 35px;
    font-family: "Gilroy", sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: $accent-color;
    background: url("../img/phone-icon.svg") center left no-repeat;

    @include hover {
      text-decoration: underline;
    }
  }

  &__socials {
    display: flex;
    align-items: center;

    a {
      display: block;
      transition: transform $transition;

      @include hover {
        transform: scale(1.05);
      }
    }

    li {
      @include mr(5px);
    }
  }
}

@media screen and (max-width: 1024px) {
  .header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 13px 0;
    min-height: 60px;

    &__logo {
      display: flex;
      margin-bottom: 40px;

      img {
        width: 100px;
      }
    }

    &__phone {
      margin-right: 15px;
      margin-left: auto;
      padding-left: 30px;
      font-size: 16px;
      background-size: 18px;
    }

    &__right {
      display: block;
      margin-top: auto;
      padding-top: 20px;
    }

    &__socials {
      margin-top: 20px;
    }

    &__nav {
      margin: auto 0;

      ul {
        display: block;
        font-size: 18px;
      }

      li {
        @include mr(0);
      }

      a {
        display: block;
        padding: 8px 0;
      }
    }
  }
}