.repair {
  padding-top: 50px;

  &__title {
    margin-bottom: 30px;
  }

  &__slider {
    overflow: visible;
    min-height: 480px;
  }

  &__item {
    overflow: hidden;
    border-radius: 20px;
    padding: 35px;
    width: 255px;
    min-height: 365px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 25%);
    background: #fff;

    ul {
      padding-top: 0;
      height: 0;
      font-family: "Roboto", sans-serif;
      font-weight: 300;
      font-size: 20px;
      line-height: 1.15;
      opacity: 0;
      transition: $transition;
    }

    li {
      @include mb(10px);

      position: relative;
      padding-left: 40px;

      &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 30px;
        height: 30px;
        background: url("../img/check-icon.svg") left no-repeat;
        background-size: 22px;
      }
    }

    @include hover {
      ul {
        padding-top: 24px;
        height: auto;
        opacity: 1;
      }
    }
  }

  &__img {
    margin-bottom: 40px;

    img {
      display: flex;
    }
  }

  &__name {
    font-size: 24px;
    text-align: center;
  }
}

@media screen and (max-width: 1024px) {
  .repair {
    padding-bottom: 30px;

    &__slider {
      min-height: auto;
    }

    &__name {
      font-size: 20px;
    }

    &__img {
      margin-bottom: 20px;

      img {
        margin: 0 auto;
        width: 110px;
      }
    }

    &__item {
      display: flex;
      flex-direction: column;
      padding: 18px;
      height: auto;
      min-height: auto;
      max-height: 600px;

      li {
        padding-left: 30px;

        &::before {
          width: 20px;
          height: 20px;
          background-size: 15px;
        }
      }

      ul {
        margin-top: auto;
        padding-top: 24px;
        height: auto;
        font-size: 18px;
        opacity: 1;
      }
    }
  }
}