.reviews-page {
  padding-bottom: 0;

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  }
}

@media screen and (max-width: 1024px) {
  .reviews-page {
    &__list {
      gap: 15px;
    }
  }
}

@media screen and (max-width: 768px) {
  .reviews-page {
    &__list {
      display: block;
    }

    &__item {
      @include mb(30px);
    }
  }
}