/* stylelint-disable declaration-no-important */
.page-wrapper {
  @include footerToBottom;

  overflow: hidden;
  padding-top: 135px;
}

.container {
  margin: 0 auto;
  padding: 0 var(--container-offset);
  width: 100%;
  max-width: var(--container-width);
}

.is-hidden {
  display: none !important;
}

.disable-scroll,
.overflow-hidden {
  overflow: hidden;

  body {
    overflow: hidden;
  }
}

.input-reset {
  -webkit-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  background: #fff;

  &[type="number"] {
    -moz-appearance: textfield;
  }

  &::-webkit-search-decoration,
  &::-webkit-search-cancel-button,
  &::-webkit-search-results-button,
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button,
  &::-webkit-search-results-decoration {
    display: none;
  }
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.title {
  font-weight: 500;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
}

.inner-page {
  padding: 40px 0 60px;

  &__head {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 40px;
    gap: 10px;
  }
}

.breadcrumbs {
  font-size: 12px;

  ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  li {
    @include mr(10px);

    display: flex;
    align-items: center;
    color: #868686;

    &::after {
      content: "";
      display: block;
      margin-left: 10px;
      width: 20px;
      height: 20px;
      background: url("../img/arrow-icon.svg") center no-repeat;
    }

    &:last-child {
      font-size: 13px;
      color: $dark-color;

      &::after {
        display: none;
      }
    }
  }

  a {
    @include hover {
      text-decoration: underline;
    }
  }
}

.pagination {
  padding-top: 30px;

  &__inner {
    ul {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 -5px;
    }

    li {
      margin: 0 5px;
      font-size: 20px;
    }
  }

  &__link {
    padding: 0 10px;
    font-size: 20px;
  }
}

@media screen and (max-width: 1024px) {
  .page-wrapper {
    padding-top: 60px;
  }

  .section-link {
    font-size: 20px;
  }

  .title {
    font-size: 30px;
  }
}

@media screen and (max-width: 768px) {
  .title {
    font-size: 24px;
  }

  .section-link {
    font-size: 18px;
  }

  .inner-page {
    &__head {
      display: block;
    }
  }

  .breadcrumbs {
    padding-bottom: 30px;
  }
}