// base
:root {
  --content-width: 1110px;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + var(--container-offset) * 2);
}

$font-family: "Urbane", sans-serif;
$transition: 0.275s ease-in-out;
$menu-transition: 0.3s ease-in-out;

// colors
$main-color: #151514;
$accent-color: #ef7c00;
$accent-gradient:
  radial-gradient(
    50% 50% at 50% 50%,
    rgba(211, 110, 0, 80%) 0%,
    rgba(239, 124, 0, 45.6%) 100%
  ), #ef7c00;